<!DOCTYPE html>
<html>
    <head>
    <title>Vaccination scheduling</title>
    <style>
        body {
            background-color: firebrick;
        }
        
        .button-box {
            border-radius: 25px;
            background-color: beige;
            width: 10%;
            margin: auto;
            text-align: center;
            border: 5px solid black;
            padding: 5%;
            box-shadow: 0 25px 25px rgba(0,0,0,0.19), 0 10px 10px rgba(0,0,0,0.23);
            font-size: 30px;
        }
    </style>
    </head>
    
    
    <body>
        <div style="background-color: orangered; border: 10px solid black; border-radius: 25px; margin: 5% 25%; padding: 0 0 4%">
        <h2 style="text-align: center; font-family: monospace; font-size: 40px; color: cornsilk;">Bambank vaccine scheduling tool</h2>
        <div class="button-box">
            <a href="Hospital_page.html" class="button" style="text-decoration: none; font-family: fantasy;">I am a hospital</a>
        </div>
        <div style="padding: 30px;"></div>
        <div class="button-box">
            <a href="Patient_page.html" class="button" style="text-decoration: none; font-family: fantasy;">I am a patient</a>
        </div>
        </div>
    </body>
</html>