<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-image: url(https://www.aop.org.uk/-/media/ot/newsletter/2020/vaccineandcovid.jpg);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>
        <title>My Vaccination Schedule</title>
    </head>
    <body>
        <h1 style= "color:yellow ;font-size: 24px;">Vaccination Schedule</h1>
        <ul>
            <li style="color:yellow ;font-size: 24px;">id       :{{id}}</li>
            <li style="color:yellow ;font-size: 24px;">Hospital        :{{loc}}
            </li>
            <li style="color:yellow ;font-size: 24px;">
                Date and Time   :{{time_prompt}}
            </li>
        </ul>
        <h2 style="color:yellow ;font-size: 24px;">Use this QR Code to check in when you arrive in the hospital</h2>
        <!--<img src="{{url_for('static',filename=img_file)}}">-->
        <h3 style="color:yellow ;font-size: 24px;">Hospital Location</h3>
    </body>
</html>